@charset "UTF-8";
/* =========== 애니메이션 =========== */
@-webkit-keyframes loading {
  0% {
    transform: rotate(-20deg) translateY(38px);
  }
  35% {
    transform: rotate(360deg) translateY(38px);
  }
  70% {
    transform: rotate(720deg) translateY(38px);
  }
  100% {
    transform: rotate(1060deg) translateY(38px);
  }
}
@keyframes loading {
  0% {
    transform: rotate(-20deg) translateY(38px);
  }
  35% {
    transform: rotate(360deg) translateY(38px);
  }
  70% {
    transform: rotate(720deg) translateY(38px);
  }
  100% {
    transform: rotate(1060deg) translateY(38px);
  }
}
/* =========== Login =========== */
.login {
  display: none;
  background-color: #0078d7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.login.on {
  opacity: 1;
  visibility: visible;
}
.login__loading, .login__account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.loading.on {
  opacity: 1;
  visibility: visible;
}
.loading__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.loading__dot {
  background-color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: loading 5.8s cubic-bezier(0.1, 0.5, 0.9, 0.5) reverse infinite both;
}
.loading__dot:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.loading__dot:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading__dot:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.loading__dot:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading__dot:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading__dot:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.loading__text {
  margin-top: 18px;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.loading__text--welcome {
  display: none;
}
.loading.enter .loading__text--load {
  display: none;
}
.loading.enter .loading__text--welcome {
  display: block;
}

.account {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.account.on {
  opacity: 1;
  visibility: visible;
}
.account__avatar {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.account__name {
  display: block;
  margin: 18px 0;
  color: #fff;
  font-size: 34px;
}
.account__btn-login {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px 30px;
  font-size: 15px;
  border-radius: 20px;
  transition: 0.3s;
}
.account__btn-login:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* =========== Home =========== */
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__background {
  background-color: lavender;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .home__background {
    background-color: lemonchiffon;
  }
}
.home__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 550px;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .home__icons {
    width: 500px;
  }
}
@media (max-width: 580px) {
  .home__icons {
    width: 250px;
  }
}
.home__task-bar {
  background-color: rgba(34, 34, 34, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 55px;
}
.home__task-bar-right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  margin-left: auto;
  color: #fff;
}
.home__task-bar-right .clock {
  font-size: 15px;
  cursor: default;
}

.desktop-icon {
  display: block;
  margin: 4px 8px;
  padding: 5px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.desktop-icon:hover, .desktop-icon:focus {
  background-color: rgba(0, 120, 215, 0.1);
  border: 1px solid rgba(0, 120, 215, 0.3);
}
.desktop-icon__img {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 3px;
}
.desktop-icon__name {
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.8);
}
@media (max-width: 1200px) {
  .desktop-icon__img {
    width: 85px;
    height: 85px;
  }
}

.btn-task {
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}
.btn-task:hover, .btn-task:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* =========== Modal =========== */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__inner {
  position: fixed;
  top: 47%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  min-width: 1100px;
  width: 70%;
  height: 70%;
  border-radius: 5px;
  box-shadow: 0 25px 60px 5px rgba(34, 34, 34, 0.06);
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .modal__inner {
    min-width: auto;
    width: 95%;
  }
}
.modal__top {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 1;
}
.modal__top .btn-back {
  width: 50px;
  height: 100%;
  font-size: 16px;
}
.modal__top .btn-back:hover {
  background-color: rgba(34, 34, 34, 0.07);
}
.modal__title {
  font-size: 15px;
  font-weight: normal;
  margin-left: 8px;
}
.modal__side {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  max-width: 280px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.modal__side.on {
  max-width: 0;
}
.modal__side-menu {
  margin-top: 80px;
}
.modal__side-menu-item {
  position: relative;
  padding: 10px 0 10px 40px;
  font-size: 16px;
  white-space: nowrap;
}
.modal__side-menu-item:hover {
  background-color: rgba(34, 34, 34, 0.07);
}
.modal__side-menu-item::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 70%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.modal__side-menu-item.active::before {
  background-color: midnightblue;
}
@media (max-width: 1200px) {
  .modal__side {
    max-width: 250px;
  }
}
.modal__btn-toggle-side {
  background-color: #eee;
  position: absolute;
  top: 50%;
  right: -31px;
  padding: 10px 8px;
  color: #666;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  outline: none;
  transform: translateY(-50%);
  z-index: 1;
}
.modal__btn-toggle-side .fas {
  display: block;
  transform: rotate(90deg);
}
.modal__contents {
  background-color: #fff;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modal__content-section {
  width: 100%;
  height: 100%;
}

/* =========== Modal - About =========== */
.modal-about {
  display: block;
}
.modal-about .modal__content-section {
  padding: 35px;
}
.modal-about__section-title {
  font-size: 24px;
}

/* =========== Modal - Project =========== */
.modal-project .modal__content-section:first-child {
  height: 300%;
}
.modal-project .modal__contents {
  position: relative;
}
.modal-project__top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 450px;
  height: 100%;
}
.modal-project .slide {
  position: relative;
  width: 100%;
  height: 100%;
  /* slick custom dots */
}
.modal-project .slide .slick-list,
.modal-project .slide .slick-track {
  height: 100%;
}
.modal-project .slide__item {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-project .slide__img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
.modal-project .slide .slick-dots {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.modal-project .slide .slick-dots li {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  text-indent: -9999px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 8px rgba(34, 34, 34, 0.1);
  transition: 0.3s;
}
.modal-project .slide .slick-dots li.slick-active {
  background-color: #fff;
}

.modal-contact .modal__content-section {
  padding-top: 35px;
}

.modal-info .modal__content-section {
  padding-top: 35px;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}/*# sourceMappingURL=index-style.css.map */