@charset "UTF-8";
/* =========== Font - 스포카 한 산스 네오 =========== */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local("Spoqa Han Sans Thin"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Thin.woff2) format("woff2"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Thin.woff) format("woff"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local("Spoqa Han Sans Light"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Light.woff2) format("woff2"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Light.woff) format("woff"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local("Spoqa Han Sans Regular"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Regular.woff2) format("woff2"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Regular.woff) format("woff"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local("Spoqa Han Sans Medium"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Medium.woff2) format("woff2"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Medium.woff) format("woff"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: local("Spoqa Han Sans Bold"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Bold.woff2) format("woff2"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Bold.woff) format("woff"), url(../../fonts/SpoqaHanSans_subset/SpoqaHanSansNeo-Bold.ttf) format("truetype");
  font-weight: 700;
}
/* =========== Font - G마켓 산스 =========== */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* =========== 애니메이션 =========== */
@-webkit-keyframes loading {
  0% {
    transform: rotate(-20deg) translateY(38px);
  }
  35% {
    transform: rotate(360deg) translateY(38px);
  }
  70% {
    transform: rotate(720deg) translateY(38px);
  }
  100% {
    transform: rotate(1060deg) translateY(38px);
  }
}
@keyframes loading {
  0% {
    transform: rotate(-20deg) translateY(38px);
  }
  35% {
    transform: rotate(360deg) translateY(38px);
  }
  70% {
    transform: rotate(720deg) translateY(38px);
  }
  100% {
    transform: rotate(1060deg) translateY(38px);
  }
}
@-webkit-keyframes arrow-ani {
  0% {
    left: 0;
  }
  100% {
    left: 3px;
  }
}
@keyframes arrow-ani {
  0% {
    left: 0;
  }
  100% {
    left: 3px;
  }
}
@-webkit-keyframes shining {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
@keyframes shining {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
/* =========== Login =========== */
.login {
  display: none;
  background-color: #0078d7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.login.on {
  opacity: 1;
  visibility: visible;
}
.login__loading, .login__account {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.loading.on {
  opacity: 1;
  visibility: visible;
}
.loading__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.loading__dot {
  background-color: #f8f8ff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: loading 5.8s cubic-bezier(0.1, 0.5, 0.9, 0.5) reverse infinite both;
}
.loading__dot:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.loading__dot:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading__dot:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.loading__dot:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading__dot:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading__dot:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.loading__text {
  margin-top: 18px;
  color: #f8f8ff;
  font-size: 24px;
  text-align: center;
}
.loading__text--welcome {
  display: none;
}
.loading.enter .loading__text--load {
  display: none;
}
.loading.enter .loading__text--welcome {
  display: block;
}

.account {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.account.on {
  opacity: 1;
  visibility: visible;
}
.account__avatar {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.account__name {
  display: block;
  margin: 18px 0;
  color: #f8f8ff;
  font-size: 34px;
}
.account__btn-login {
  background-color: rgba(248, 248, 255, 0.7);
  padding: 7px 30px;
  font-size: 15px;
  border-radius: 20px;
  transition: 0.3s;
}
.account__btn-login:hover {
  background-color: rgba(248, 248, 255, 0.9);
}

/* =========== Home =========== */
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__background {
  background-color: lavender;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .home__background {
    background-color: lemonchiffon;
  }
}
.home__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 550px;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .home__icons {
    width: 500px;
  }
}
@media (max-width: 760px) {
  .home__icons {
    width: 425px;
  }
}
@media (max-width: 580px) {
  .home__icons {
    top: 46%;
    width: 215px;
  }
}
.home__task-bar {
  position: absolute;
  left: 0;
  bottom: 0;
}

.desktop-icon {
  display: block;
  margin: 4px 8px;
  padding: 5px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s;
}
.desktop-icon:hover, .desktop-icon:focus {
  background-color: rgba(0, 120, 215, 0.1);
  border: 1px solid rgba(0, 120, 215, 0.3);
}
.desktop-icon__img {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 3px;
}
.desktop-icon__name {
  color: #f8f8ff;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.8);
}
@media (max-width: 1200px) {
  .desktop-icon__img {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 760px) {
  .desktop-icon__img {
    width: 75px;
    height: 75px;
  }
  .desktop-icon__name {
    font-size: 15px;
  }
}

.btn-task {
  width: 55px;
  height: 100%;
  color: #f8f8ff;
  font-size: 18px;
  transition: 0.3s;
}
.btn-task.on {
  background-color: rgba(248, 248, 255, 0.2);
  color: #d6d6f8;
}
.btn-task.on ~ .task-bar__menu {
  display: block;
}
.btn-task:hover, .btn-task:focus {
  background-color: rgba(248, 248, 255, 0.2);
}

.task-bar {
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  width: 100%;
  height: 55px;
  z-index: 100;
}
.task-bar__menu {
  background-color: ghostwhite;
  position: absolute;
  left: 0;
  bottom: 55px;
  display: none;
  width: 280px;
  height: 450px;
  padding: 30px 8px;
}
.task-bar__menu-top {
  width: 90%;
  margin: 0 auto;
}
.task-bar__right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  margin-left: auto;
  color: #f8f8ff;
}
.task-bar__right .clock {
  font-size: 15px;
  cursor: default;
}

.weather {
  background-color: khaki;
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
}

.music-player {
  background-color: lightblue;
  width: 100%;
  height: 150px;
}

/* =========== Modal =========== */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__inner {
  position: fixed;
  top: 47%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  min-width: 1100px;
  width: 60%;
  height: 70%;
  border-radius: 5px;
  box-shadow: 0 25px 60px 5px rgba(34, 34, 34, 0.06);
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .modal__inner {
    min-width: auto;
    width: 95%;
  }
}
@media (max-width: 760px) {
  .modal__inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    transform: none;
  }
}
.modal__top {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 1;
}
.modal__top .btn-back {
  width: 50px;
  height: 100%;
  font-size: 16px;
}
.modal__top .btn-back:hover {
  background-color: rgba(34, 34, 34, 0.07);
}
.modal__title {
  font-size: 15px;
  font-weight: normal;
  margin-left: 8px;
}
.modal__side {
  background-color: rgba(248, 248, 255, 0.5);
  position: relative;
  max-width: 280px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.modal__side.on {
  max-width: 0;
}
.modal__side-menu {
  margin-top: 80px;
  overflow: hidden;
}
.modal__side-menu-item {
  position: relative;
  padding: 10px 0 10px 40px;
  font-size: 16px;
  white-space: nowrap;
}
.modal__side-menu-item:hover {
  background-color: rgba(34, 34, 34, 0.07);
}
.modal__side-menu-item::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 70%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.modal__side-menu-item.active::before {
  background-color: midnightblue;
}
@media (max-width: 1200px) {
  .modal__side {
    max-width: 250px;
  }
}
@media (max-width: 760px) {
  .modal__side {
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.modal__btn-toggle-side {
  background-color: #eee;
  position: absolute;
  top: 50%;
  right: -31px;
  display: none;
  padding: 10px 8px;
  color: #666;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  outline: none;
  transform: translateY(-50%);
  z-index: 1;
}
.modal__btn-toggle-side .fas {
  display: block;
  transform: rotate(90deg);
}
@media (max-width: 1200px) {
  .modal__btn-toggle-side {
    display: block;
  }
}
.modal__contents {
  background-color: #f8f8ff;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modal__content-section {
  width: 100%;
}

/* =========== Modal - About =========== */
.modal-about .modal__contents {
  z-index: -1;
}
.modal-about .modal__content-section {
  padding: 35px;
}
.modal-about__section-title {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1.8px;
}

.profile__top {
  margin: 8px 0 35px;
}
.profile__img-area {
  display: flex;
  margin-bottom: 12px;
}
.profile__photo {
  width: 220px;
  height: 220px;
  margin-right: 20px;
  border-radius: 25%;
  overflow: hidden;
}
.profile__img {
  width: 100%;
  height: 100%;
}
.profile__img-list {
  margin-top: auto;
}
.profile__btn-change-img {
  display: block;
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
  outline: none;
}
.profile__name {
  display: block;
  margin-bottom: 3px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
.profile__intro-text {
  color: #464646;
  padding-left: 5px;
}
.profile__info {
  line-height: 1.8;
}
.profile__info-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: default;
}
.profile__info-title::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-right: 7px;
  font-family: fontawesome;
  color: #444;
  transition: 0.5s;
  -webkit-animation: arrow-ani 1s ease-in infinite alternate;
          animation: arrow-ani 1s ease-in infinite alternate;
}
.profile__info-title.on::before {
  top: -1px;
  left: -2px;
  transform: rotate(90deg);
  -webkit-animation: none;
          animation: none;
}
.profile__info-title.on .highlight::after {
  width: 110%;
  height: 80%;
}
.profile__info-title .highlight {
  position: relative;
}
.profile__info-title .highlight::after {
  content: "";
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
  border-radius: 10px 5px;
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 0;
  height: 30%;
  z-index: -1;
  transition: 0.5s ease-out;
}
.profile__info-title .highlight:hover::after {
  width: 110%;
}
.profile__info-wrap {
  position: relative;
  max-height: 1px;
  height: 100%;
  padding-left: 18px;
  overflow: hidden;
  transition: 0.8s;
}
.profile__info-wrap::before {
  content: "";
  background: linear-gradient(to bottom, #bbb, #f8f8ff, #bbb) no-repeat;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  position: absolute;
  top: 7px;
  left: 4px;
  width: 3px;
  height: 78%;
  border-radius: 100px;
  overflow: hidden;
  -webkit-animation: shining 3s linear infinite alternate;
          animation: shining 3s linear infinite alternate;
}
.profile__info-title.on + .profile__info-wrap {
  max-height: 100px;
}
.profile__info-desc {
  font-size: 15px;
}

.skill__wrapper {
  width: 99%;
  margin: 0 auto;
}
.skill .skill-bar:nth-child(1) .skill-bar__subject {
  background-color: #d35400;
}
.skill .skill-bar:nth-child(1) .skill-bar__bar {
  background-color: #e67e22;
}
.skill .skill-bar:nth-child(2) .skill-bar__subject {
  background-color: #2980b9;
}
.skill .skill-bar:nth-child(2) .skill-bar__bar {
  background-color: #3498db;
}
.skill .skill-bar:nth-child(3) .skill-bar__subject {
  background-color: #fac552;
}
.skill .skill-bar:nth-child(3) .skill-bar__bar {
  background-color: #fac552;
}
.skill .skill-bar:nth-child(4) .skill-bar__subject {
  background-color: #2c3e50;
}
.skill .skill-bar:nth-child(4) .skill-bar__bar {
  background-color: #3d4c5c;
}
.skill .skill-bar:nth-child(5) .skill-bar__subject {
  background-color: #2bc2ec;
}
.skill .skill-bar:nth-child(5) .skill-bar__bar {
  background-color: #61dafb;
}
.skill .skill-bar:nth-child(6) .skill-bar__subject {
  background-color: #168fe6;
}
.skill .skill-bar:nth-child(6) .skill-bar__bar {
  background-color: #31a8ff;
}

.skill-bar {
  background-color: #eee;
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  border-radius: 25px;
}
.skill-bar__subject {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  color: #f8f8ff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
}
.skill-bar__subject span {
  background-color: rgba(34, 34, 34, 0.1);
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: -1px;
  padding-left: 23px;
}
.skill-bar__bar {
  width: 0;
  height: 100%;
  border-radius: 25px;
  transition: width 1s linear;
}
.skill-bar__percent {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 11px;
}

/* =========== Modal - Project =========== */
.modal-project .modal__inner {
  display: block;
}

.browser {
  background-color: #f8f8ff;
}
.browser__bar {
  background-color: antiquewhite;
  box-shadow: 1px 1px 2px rgba(34, 34, 34, 0.08);
}
.browser__tab-bar {
  background-color: #dee1e6;
  display: flex;
  height: 35px;
  padding-left: 8px;
}
.browser__tabs {
  display: flex;
  flex: 1;
}
.browser__tab {
  min-width: 250px;
  padding: 0 8px 0 12px;
  border-radius: 8px 8px 0 0;
}
.browser__tab-content {
  display: flex;
  height: 100%;
  align-items: center;
}
.browser__tab-icon {
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-right: 8px;
}
.browser__tab-title {
  margin-right: 4px;
  color: #5f6368;
  font-size: 12px;
  letter-spacing: normal;
  white-space: nowrap;
}
.browser__tab-btn-close {
  min-width: 16px;
  height: 16px;
  margin-left: auto;
  border-radius: 50px;
}
.browser__tab-btn-close:hover {
  background-color: rgba(34, 34, 34, 0.1);
}
.browser__tab.active {
  background-color: #fff;
}
.browser__tab.active .browser__tab-title {
  color: #3c4043;
}
.browser__window-buttons {
  display: flex;
  align-items: center;
}
.browser__window-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 29px;
  transition: 0.3s;
}
.browser__window-btn:hover {
  background-color: rgba(34, 34, 34, 0.1);
}
.browser__window-btn img {
  transition: 0.3s;
}
.browser__window-btn.close {
  cursor: pointer;
}
.browser__window-btn.close:hover {
  background-color: #e81123;
}
.browser__window-btn.close:hover img {
  filter: invert(1);
}
.browser__main-bar {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 6px;
}
.browser__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: default;
  transition: background-color 0.25s;
}
.browser__button:hover {
  background-color: rgba(34, 34, 34, 0.1);
}
.browser__button svg {
  width: 13px;
  height: 13px;
  fill: #5F6368;
}
.browser__button.disabled:hover {
  background-color: transparent;
}
.browser__button.disabled svg {
  fill: #BABCBE;
}
.browser__address-bar {
  background-color: #f1f3f4;
  flex: 1;
  display: flex;
  align-items: center;
  height: 28px;
  margin: 0 8px 0 6px;
  border-radius: 20px;
}
.browser__address-bar .btn-bookmark {
  margin: 0 2px 0 auto;
  padding: 0 10px;
  min-width: 32px;
}
.browser__address-info {
  min-width: 32px;
  padding: 0 10px;
  margin-left: 3px;
}
.browser__address-info svg {
  width: 12px;
  height: 12px;
  fill: #5F6368;
}
.browser__address {
  margin-top: -1px;
}
.browser__address-protocol {
  color: #5F6368;
}
.browser__address-domain {
  color: #202124;
}
.browser__contents {
  position: relative;
  height: calc(100% - 70px);
  overflow-y: scroll;
}
.browser__contents-name {
  display: flex;
  align-items: center;
  color: #f8f8ff;
  font-size: 20px;
}
.browser__contents-search {
  background-color: rgba(34, 34, 34, 0.3);
  width: 380px;
  height: 35px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  outline: none;
}
.browser__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  box-shadow: 1px 1px 2px rgba(34, 34, 34, 0.1);
}
.browser__header-top {
  background-color: #4285f4;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 24px;
}
.browser__header-top .browser__button {
  margin-left: auto;
  cursor: pointer;
}
.browser__header-top .browser__button:hover {
  background-color: transparent;
}
.browser__header-top .browser__button svg {
  width: 15px;
  height: 15px;
  fill: #f8f8ff;
}

/* Bookmark - default(Grid) */
.bookmark {
  /* Bookmark - List 형식 */
}
.bookmark__inner {
  margin: 10px 0;
  border-radius: 5px;
}
.bookmark__current-folder {
  background-color: #f8f8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 10px 25px;
  margin: 0 auto;
  box-shadow: 0 2px 2px -2px #222;
  transition: 0.3s;
}
.bookmark__current-folder.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  left: 0;
  width: 100%;
  padding: 5px 25px;
  z-index: 1;
  box-shadow: 0 0 6px rgba(34, 34, 34, 0.5);
}
.bookmark__current-folder .modal__title {
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  height: 34px;
  margin: 0;
  font-size: 14px;
}
.bookmark__current-folder .modal__title::before {
  content: ">";
  display: inline-block;
  margin-right: 8px;
}
.bookmark__current-folder .modal__title i {
  font-style: normal;
  margin-right: 5px;
}
.bookmark__btn-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 5px 0;
  margin-top: 3px;
  font-size: 17px;
  outline: none;
  opacity: 0.5;
  transition: 0.2s;
}
.bookmark__btn-sort.on {
  color: #2f70da;
  opacity: 0.8;
}
.bookmark__btn-sort:hover {
  opacity: 0.8;
}
.bookmark__btn-sort--list {
  margin-left: 15px;
}
.bookmark__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 5px;
}
.bookmark__card {
  background-color: #f8f8ff;
  position: relative;
  width: 32%;
  margin-bottom: 18px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(34, 34, 34, 0.3);
  overflow: hidden;
  transition: 0.25s;
}
.bookmark__card:hover {
  box-shadow: 2px 4px 7px rgba(34, 34, 34, 0.1);
  transform: translateY(-5px);
}
.bookmark__card:hover .bookmark__overlay {
  opacity: 1;
}
.bookmark__card:hover .bookmark__btn-star {
  opacity: 1;
}
.bookmark__link-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bookmark__thumbnail {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.bookmark__thumbnail img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  right: -9999px;
  left: -9999px;
  width: 100%;
  height: auto;
  margin: auto;
}
.bookmark__overlay {
  background-color: rgba(34, 34, 34, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f8f8ff;
  opacity: 0;
  transition: opacity 0.3s;
}
.bookmark__link-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 7px 22px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid rgba(248, 248, 255, 0.4);
  border-radius: 20px;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.bookmark__link-detail:hover {
  background-color: #4285f4;
  border-color: transparent;
}
.bookmark__info-box {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding-left: 25px;
}
.bookmark__name {
  margin-top: -5px;
  font-size: 16px;
}
.bookmark__desc {
  margin-top: 2px;
  color: #8c96a9;
  font-size: 13px;
}
.bookmark__btn-star {
  position: absolute;
  top: 50%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4285f4;
  font-size: 18px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  transform: translateY(-50%);
  transition: opacity 0.25s;
}
.bookmark__btn-star:hover {
  color: #3973cf;
}
.bookmark__link-detail--list {
  display: none;
}
.bookmark--list .bookmark__current-folder {
  width: 80%;
}
.bookmark--list .bookmark__list {
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}
.bookmark--list .bookmark__card {
  width: 100%;
  margin: 0;
  box-shadow: none;
}
.bookmark--list .bookmark__card:hover {
  background-color: #e8f0fe;
  box-shadow: none;
  transform: none;
}
.bookmark--list .bookmark__thumbnail {
  display: none;
}
.bookmark--list .bookmark__info-box {
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: auto;
  padding: 8px 25px;
}
.bookmark--list .bookmark__name {
  margin-top: 0;
  font-size: 15px;
}
.bookmark--list .bookmark__desc {
  margin-left: 13px;
}
.bookmark--list .bookmark__desc::before {
  content: "::";
  display: inline-block;
  margin-right: 5px;
  letter-spacing: 1.1px;
}
.bookmark--list .bookmark__btn-star {
  display: none;
}
.bookmark--list .bookmark__link-detail--list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 6px;
  font-size: 19px;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 10;
}
.bookmark--list .bookmark__link-detail--list:hover {
  opacity: 0.9;
  color: #2f70da;
}

.modal-contact {
  display: block;
}

.contact {
  display: flex;
  align-items: center;
  padding-top: 35px;
}
.contact__left {
  background-color: #B4DF95;
  width: 450px;
  height: 99%;
  padding: 60px 47px;
  border-radius: 0 25px 25px 0;
  box-shadow: 2px 4px 8px rgba(34, 34, 34, 0.25);
}
.contact__text-area {
  margin-top: 20px;
}
.contact__main-text {
  display: block;
  margin-bottom: 15px;
  font-family: "GmarketSansBold", serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.5px;
}
.contact__sub-text {
  padding-left: 2px;
  font-size: 15px;
  line-height: 1.8;
}
.contact__list {
  padding-left: 8px;
  margin-top: 85px;
}
.contact__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact__list-item.tel {
  margin-bottom: 23px;
}
.contact__list-item.tel .contact__icon {
  font-size: 18px;
}
.contact__list-item.mail .contact__link {
  position: relative;
  top: -3px;
}
.contact__list-item.location {
  cursor: default;
}
.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  color: rgba(34, 34, 34, 0.8);
  font-size: 17px;
}
.contact__text {
  position: relative;
  font-size: 17px;
}
.contact__text:hover .contact__link-tooltip {
  opacity: 1;
  visibility: visible;
}
.contact__text:hover .contact__link-tooltip.tel {
  right: -75%;
}
.contact__text:hover .contact__link-tooltip.mail {
  right: -61%;
}
.contact__text:hover .contact__link-tooltip.location {
  right: -261%;
}
.contact__link-tooltip {
  background-color: #f8f8ff;
  position: absolute;
  top: 50%;
  padding: 6px 13px;
  font-size: 13.5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  cursor: default;
  transform: translateY(-50%);
  transition: 0.5s;
}
.contact__link-tooltip.tel {
  right: -80%;
}
.contact__link-tooltip.mail {
  right: -66%;
}
.contact__link-tooltip.location {
  top: -2px;
  right: -266%;
  width: 230px;
  height: 230px;
  padding-top: 8px;
  padding-left: 10px;
  transform: none;
}
.contact__link-tooltip.location::after {
  top: 4%;
  transform: none;
}
.contact__link-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent #f8f8ff transparent transparent;
  transform: translateY(-50%);
}
.contact__right {
  position: relative;
  flex: 1;
  height: 100%;
}
.contact__email-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
}

.email-form label {
  display: inline-block;
  margin: 6px 3px 10px;
  font-size: 15px;
  transition: 0.8s;
  transition-property: color, font-size;
}
.email-form label.on {
  color: #76b649;
  font-size: 16px;
}
.email-form__box {
  position: relative;
}
.email-form__input {
  background-color: #edf0f9;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: box-shadow 1.8s;
}
.email-form__input:focus {
  box-shadow: 0 0 10px #B4DF95;
}
.email-form__input:focus ~ svg rect {
  stroke-dashoffset: 0;
}
.email-form__focus-border {
  overflow: visible;
  z-index: -1;
}
.email-form__focus-border,
.email-form__focus-border rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.email-form__focus-border rect {
  stroke: rgba(180, 223, 149, 0.7);
  stroke-width: 6;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  transition: stroke-dashoffset 1.1s ease-in-out;
  transform: rotate(180deg) rotateY(180deg);
  transform-origin: center;
}
.email-form__message {
  height: 200px;
  padding: 18px 20px;
  border-radius: 30px;
  resize: none;
}
.email-form__btn-send {
  background-color: #B4DF95;
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  width: 150px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
  outline: none;
}

.modal-info .modal__content-section {
  padding-top: 35px;
}

html,
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}/*# sourceMappingURL=index-style.css.map */