.wrap {
  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Home */
.home {
  background-color: beige;
}

.desk {

}

.desk__link {
  display: inline-block;
  width: 100px;
  height: 80px;
}

.desk__link-about {
  background-color: cadetblue;
}

.desk__link-work {
  background-color: cornflowerblue;
}

.desk__link-contact {
  background-color: mediumpurple;
}

/* About */
.about {
  background-color: lightslategray;
}

.book {
  background-color: tan;
  position: relative;
  width: 85%;
  height: 85%;
}

.book__page {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Work */
.work {
  background-color: lavenderblush;
}

.tablet {
  background-color: silver;
  width: 85%;
  height: 85%;
}

/* Contact */
.contact {
  background-color: lightcyan;
}