@import "abstract/variable";

@import "base/animation";

@import "layout/login";
@import "layout/home";
@import "layout/modal";
@import "layout/modal-about";
@import "layout/modal-project";

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}
