/* =========== Home =========== */
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__background {
    background-color: lavender;
    position: relative;
    width: 100%;
    height: 100%;

    @include desktop {
      & {
        background-color: lemonchiffon;
      }
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 550px;
    transform: translate(-50%, -50%);

    @include desktop {
      & {
        width: 500px;
      }
    }

    @include tablet {
      & {
        width: 425px;
      }
    }

    @include mobile {
      & {
        top: 46%;
        width: 215px;
      }
    }
  }

  &__task-bar {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.desktop-icon {
  display: block;
  margin: 4px 8px;
  padding: 5px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: rgba($color-windows, 0.1);
    border: 1px solid rgba($color-windows, 0.3);
  }

  &__img {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 3px;
  }

  &__name {
    color: $color-white;
    font-size: 15px;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba($color-black, 0.8);
  }

  @include desktop {
    &__img {
      width: 85px;
      height: 85px;
    }
  }

  @include tablet {
    &__img {
      width: 75px;
      height: 75px;
    }

    &__name {
      font-size: 15px;
    }
  }
}

.btn-task {
  width: 55px;
  height: 100%;
  color: $color-white;
  font-size: 18px;
  transition: 0.3s;

  &.on {
    background-color: rgba($color-white, 0.2);
    color: rgb(214, 214, 248);

    & ~ .task-bar__menu {
      display: block;
    }
  }

  &:hover,
  &:focus {
    background-color: rgba($color-white, 0.2);
  }
}

.task-bar {
  background-color: rgba($color-black, 0.8);
  display: flex;
  width: 100%;
  height: 55px;
  z-index: 100;

  &__left {
  }

  &__menu {
    background-color: ghostwhite;
    position: absolute;
    left: 0;
    bottom: 55px;
    display: none;
    width: 280px;
    height: 450px;
    padding: 30px 8px;

    &-top {
      width: 90%;
      margin: 0 auto;
    }

    &-bottom {
    }
  }

  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    margin-left: auto;
    color: $color-white;

    .clock {
      font-size: 15px;
      cursor: default;
    }
  }
}

.weather {
  background-color: khaki;
  width: 100%;
  height: 120px;
  margin-bottom: 15px;
}

.music-player {
  background-color: lightblue;
  width: 100%;
  height: 150px;
}
