/* =========== Modal - Project =========== */
.modal-project {
  display: block;

  .modal__inner {
    display: block;
  }
}

.browser {
  background-color: $color-white;

  &__bar {
    background-color: antiquewhite;
    box-shadow: 1px 1px 2px rgba($color-black, 0.08);
  }

  &__tab-bar {
    background-color: #dee1e6;
    display: flex;
    height: 35px;
    padding-left: 8px;
  }

  &__tabs {
    display: flex;
    flex: 1;
  }

  &__tab {
    min-width: 250px;
    padding: 0 8px 0 12px;
    border-radius: 8px 8px 0 0;

    &-content {
      display: flex;
      height: 100%;
      align-items: center;
    }

    &-icon {
      width: 15px;
      height: 15px;
      margin-top: 1px;
      margin-right: 8px;
    }

    &-title {
      margin-right: 4px;
      color: #5f6368;
      font-size: 12px;
      letter-spacing: normal;
      white-space: nowrap;
    }

    &-btn-close {
      min-width: 16px;
      height: 16px;
      margin-left: auto;
      border-radius: 50px;

      &:hover {
        background-color: rgba($color-black, 0.1);
      }
    }

    &.active {
      background-color: #fff;

      .browser__tab-title {
        color: #3c4043;
      }
    }
  }

  &__window-buttons {
    display: flex;
    align-items: center;
  }

  &__window-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 29px;
    transition: 0.3s;

    &:hover {
      background-color: rgba($color-black, 0.1);
    }

    img {
      transition: 0.3s;
    }

    &.close {
      cursor: pointer;

      &:hover {
        background-color: #e81123;

        img {
          filter: invert(1);
        }
      }
    }
  }

  &__main-bar {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 6px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: default;
    transition: background-color 0.25s;
    
    &:hover {
      background-color: rgba($color-black, 0.1);
    }
    
    svg {
      width: 13px;
      height: 13px;
      fill: #5F6368;
    }

    &.disabled {
      &:hover {
        background-color: transparent;
      }

      svg {
        fill: #BABCBE;
      }
    }
  }

  &__address-bar {
    background-color: #f1f3f4;
    flex: 1;
    display: flex;
    align-items: center;
    height: 28px;
    margin: 0 8px 0 6px;
    border-radius: 20px;

    .btn-bookmark {
      margin: 0 2px 0 auto;
      padding: 0 10px;
      min-width: 32px;
    }
  }

  &__address-info {
    min-width: 32px;
    padding: 0 10px;
    margin-left: 3px;

    svg {
      width: 12px;
      height: 12px;
      fill: #5F6368;
    }
  }

  &__address {
    margin-top: -1px;
    
    &-protocol {
      color: #5F6368;
    }

    &-domain {
      color: #202124;
    }
  }

  &__contents {
    &-name {
      display: flex;
      align-items: center;
      color: $color-white;
      font-size: 20px;
    }

    &-search {
      background-color: rgba($color-black, 0.3);
      width: 380px;
      height: 35px;
      margin: 0 auto;
      border: none;
      border-radius: 3px;
      outline: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba($color-black, 0.1);

    &-top {
      background-color: #4285f4;
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 24px;

      .browser__button {
        margin-left: auto;
        cursor: pointer;

        &:hover {
          background-color: transparent;
        }

        svg {
          width: 15px;
          height: 15px;
          fill: $color-white;
        }
      }
    }
  }
}

/* Bookmark - Grid 형식(default) */
.bookmark {
  &__inner {
    max-width: 1000px;
    margin: 10px auto;
    border-radius: 5px;
    // box-shadow: 0 0 3px rgba($color-black, 0.3);
  }

  &__current-folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #000;

    .modal__title {
      background-color: $color-white;
      display: flex;
      align-items: center;
      height: 34px;
      margin: 0;
      font-size: 14px;

      &::before {
        content: ">";
        display: inline-block;
        margin-right: 8px;
      }

      i {
        font-style: normal;
        margin-right: 5px;
      }
    }
  }
  
  &__btn-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 5px 0;
    margin-top: 3px;
    font-size: 17px;
    opacity: 0.5;
    transition: 0.2s;
    
      &:hover {
        opacity: 0.8;
      }
  }
  
  &__btn-sort--list {
    
  }
  
  &__btn-sort--grid {
    margin-left: 15px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 5px;
  }

  &__card {
    background-color: $color-white;
    width: 32%;
    // border: 1px solid #e9e9eb;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba($color-black, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      box-shadow: 2px 4px 7px rgba($color-black, 0.1);
      transform: translateY(-5px);

      .bookmark__overlay {
        opacity: 1;
      }

      .bookmark__btn-star {
        opacity: 1;
      }
    }
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      right: -9999px;
      left: -9999px;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  &__overlay {
    background-color: rgba($color-black, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color-white;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.3s;
  }

  &__link-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 7px 22px;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 1px solid rgba($color-white, 0.4);
    border-radius: 20px;
    transform: translate(-50%, -50%);
    transition: 0.3s;

    &:hover {
      background-color: #4285f4;
      border-color: transparent;
    }
  }

  &__info-box {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-left: 25px;
    border-top: 1px solid #e9e9eb;
  }

  &__name {
    margin-top: -5px;
    font-size: 16px;
  }

  &__desc {
    margin-top: 2px;
    color: #8c96a9;
    font-size: 13px;
  }

  &__btn-star {
    position: absolute;
    top: 50%;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4285f4;
    font-size: 18px;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.25s;

    &:hover {
      color: #3973cf;
    }
  }

  &--list__link-detail {
    display: none;
  }

  /* Bookmark - List 형식 */
  &--list {
    width: 80%;
    flex-direction: column;

    .bookmark__card {
      max-width: 100%;
      margin: 0;
    }

    .bookmark__thumbnail {
      display: none;
    }

    .bookmark__info-box {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      height: auto;
      padding: 8px 25px;
    }

    .bookmark__name {
      margin-top: 0;
      font-size: 15px;
    }

    .bookmark__desc {
      margin-left: 13px;

      &::before {
        content: "::";
        display: inline-block;
        margin-right: 5px;
        letter-spacing: 1.1px;
      }
    }

    .bookmark__btn-star {
      display: none;
    }

    &__link-detail {
      margin-left: auto;
      padding: 6px;
      border-radius: 50%;

      &:hover {
        background-color: rgba(34, 34, 34, 0.1);
      }
    }
  }
}
