.modal-contact {
  // display: block;
}

.contact {
  display: flex;
  align-items: center;
  padding-top: 35px;

  &__left {
    background-color: mediumaquamarine;
    width: 450px;
    height: 98%;
    padding: 40px;
    border-radius: 0 25px 25px 0;
  }

  &__text-area {
    margin-top: 10px;
  }

  &__main-text {
    display: block;
    margin-bottom: 8px;
    font-size: 28px;
    letter-spacing: -1.5px;
  }

  &__sub-text {
    // color: #ccc;
  }

  &__list {
    position: absolute;
    top: 42%;
    left: 40px;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__icon {
    margin-right: 10px;
    // font-size: 20px;
  }

  &__text {
    font-size: 18px;
  }

  &__right {
    position: relative;
    flex: 1;
    height: 100%;
  }

  &__email-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
  }
}

.email-form {
  label {
    font-size: 15px;
  }

  &__input {
    background-color: #edf0f9;
    display: block;
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 50px;
  }

  &__message {
    height: 200px;
    padding: 18px 20px;
    border-radius: 30px;
  }

  &__btn-send {
    background-color: cadetblue;
    display: block;
    padding: 13px;
    margin-top: 20px;
    margin-left: auto;
    width: 180px;
    font-size: 16px;
    border-radius: 100px;
  }
}
