/* =========== Modal =========== */
.modal {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__inner {
    position: fixed;
    top: 47%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 0 25px 60px 5px rgba($color-black, 0.06);
    transform: translate(-50%, -50%);
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    // border: 1px solid #000;

    .btn-back {
      width: 50px;
      height: 100%;
      font-size: 16px;

      &:hover {
        background-color: rgba($color-black, 0.07);
      }
    }
  }

  &__title {
    font-size: 15px;
    font-weight: normal;
    margin-left: 8px;
  }

  &__side {
    background-color: rgba($color-white, 0.5);
    max-width: 300px;
    width: 100%;
    height: 100%;

    &-menu {
      margin-top: 35%;
    }

    &-menu-item {
      position: relative;
      padding: 10px 0 10px 40px;
      font-size: 16px;
      transition: 0.3s;

      &:hover {
        background-color: rgba($color-black, 0.07);
      }

      &::before {
        content: "";
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 70%;
        transform: translateY(-50%);
        transition: 0.3s;
      }
    }

    &-menu-item.active::before {
      background-color: midnightblue;
    }
  }

  &__contents {
    background-color: $color-white;
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &__content-section {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
  }
}
