/* =========== 애니메이션 =========== */
@keyframes loading {
  0% {
    transform: rotate(-20deg) translateY(38px);
  }
  35% {
    transform: rotate(360deg) translateY(38px);
  }
  70% {
    transform: rotate(720deg) translateY(38px);
  }
  100% {
    transform: rotate(1060deg) translateY(38px);
  }
}

@keyframes arrow-ani {
  0% {
    left: 0;
  }
  100% {
    left: 3px;
  }
}

@keyframes shining {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
